* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.contents {
    max-width: 60rem;
    background-color: rgb(189, 189, 189);
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

h3 {
    margin-top: 4rem;
    margin-bottom: 0.25rem;
}

button {
    padding: 0.25rem 2rem;
    cursor: pointer;
}

#send-btn {
    background: #0078d4;
    color: white;
    border: none;
}

#send-btn:disabled {
    background: #555;
    cursor: not-allowed;
}

input {
    height: 1.5rem;
    margin-right: 1rem;
}

#status {
    padding: 0.5rem;
    margin: 2rem 0;
    border-radius: 0.25rem;
}

.connected {
    background-color: rgb(0, 188, 0);
    color: white;
}

.disconnected {
    background: rgb(255, 0, 0);
    color: white;
}

.sent {
    background: #d1ecf1;
    color: #0c5460;
}

#log {
    font-family: monospace;
    background: #1e1e1e;
    color: #aaa;
    padding: 1rem;
    height: 10rem;
    overflow-y: auto;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.spacer {
    height: 1rem;
}

.spacer-half {
    height: 0.5rem;
}