* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    max-width: 45rem;
    margin: 2rem auto;

}

label, input {
    font-size: 1rem;
}


#value {
    font-weight: bold;
    color: #aaa;
    padding: 0.75rem;
    background-color: #1e1e1e;
    overflow-y: auto;
}

#status {
    padding: 0.5rem;
    border-radius: 0.25rem;

    &.connected {
        background-color: rgb(0, 188, 0);
        color: white;
    }

    &.disconnected {
        background: rgb(255, 0, 0);
        color: white;
    }
}

#log {
    background: #1e1e1e;
    color: #aaa;
    padding: 0.75rem;
    height: 9rem;
    overflow-y: auto;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

button {
    background: #0078d4;
    color: white;
    border: none;
    padding: 0.25rem 2rem;
    width: 10rem;
    cursor: pointer;
    font-size: 1rem;

    &:disabled {
        background: #555;
        cursor: not-allowed;
    }
}

.spacer {
    height: 1rem;
}