*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1e1e1e;
    color: #d4d4d4;
    font-family: "Segoe UI", sans-serif;
}

.page {
    width: 60rem;
    margin: 2.5rem auto;
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#editor {
    height: 32rem;
    border-radius: 0.5rem;
    overflow: hidden;
    /* box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.4); */
}

/* CodeMirror sizing */
.cm-editor {
    height: 100%;
    font-size: 1rem;
}

.cm-scroller {
    font-family:
        "JetBrains Mono",
        "Fira Code",
        Consolas,
        monospace;
}