* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    max-width: 45rem;
    margin: 3rem auto;
    padding: 0 1rem;
}

textarea {
    width: 100%;
    height: 20rem;
    font-family: monospace;
    font-size: 1rem;
    background: #1e1e1e;
    color: #d4d4d4;
    border: 1px solid #444;
    padding: 0.75rem;
    box-sizing: border-box;
}

h1 {
    margin-top: 1rem;
}

h2 {
    margin-top: 1rem;
}

button {
    background: #0078d4;
    color: white;
    border: none;
    padding: 0.25rem 2rem;
    width: 10rem;
    cursor: pointer;
    font-size: 1rem;
}

#send-btn {

}

#send-btn:disabled {
    background: #555;
    cursor: not-allowed;
}

#status {
    padding: 0.5rem;
    margin: 0.75rem 0;
    border-radius: 0.25rem;
}

.connected {
    background-color: rgb(0, 188, 0);
    color: white;
}

.disconnected {
    background: rgb(255, 0, 0);
    color: white;
}

.sent {
    background: #d1ecf1;
    color: #0c5460;
}

#log {
    background: #1e1e1e;
    color: #aaa;
    padding: 0.75rem;
    height: 9rem;
    overflow-y: auto;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}